# Ignoring an entire folder (Use a trailing slash)
build/
# Ignore every single PDF file in the project
*.pdf
# Ignore every single Markdown file
*.md
*.exe

practice.cpp
practice2.cpp
helloTriangle.cpp
helloTriangleCommentedCode.cpp
sin.cpp